<h1 [innerHTML]="name"></h1>

<dl>
<td>Nombre:</td>
<dd [innerHTML]="name"></dd>

<td>Edad:</td>
<dd [innerHTML]="age"></dd>

<td>Metodo</td>
<dd [innerHTML]="getHeroDescription()"></dd>

<td>Capitalizado:</td>
<dd [innerHTML]="capitalizedName"></dd>

</dl>

<button class="btn btn-primary"
*ngIf="name !== 'Jotaro Kujo'"
(click)="changeHero()">
  Cambiar Nombre
</button>

<button *ngIf="age !== 22" class="btn btn-primary ms-2"
(click)="changeAge()">
  Cambiar Edad
</button>

<button class="btn btn-primary ms-2"
(click)="resetForm()">
  Reset
</button>
